# VS CODE #
###########
.vscode

# OBJECT FILES #
################
Winsock_Program/*.o
sample_win_gui/*.o

# Executables #
###############
Winsock_Program/*.exe
sample_win_gui/*.exe
sample_curl/*.exe

# Java Class Files #
####################
sample_java_socket/*.class
sample_java_http/*.class